<!DOCTYPE html>
<html lang="en">

<head>

    <title>Tasks</title>

</head>

<body>
    <div class="container">
        <h2>Welcome, <%= username %>!</h2>

        <form action="/tasks/add" method="post">
            <label for="title">Task Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="dueDate">Due Date:</label>
            <input type="date" id="dueDate" name="dueDate" required>
            <button type="submit">Add Task</button>
        </form>


        <ul>
            <% tasks.forEach(task=> { %>
                <li>
                    <%= task.title %> - Due Date: <%= task.due_date %>
                            <form action="/tasks/delete/<%= task.id %>" method="post" style="display:inline;">
                                <button type="submit">Delete</button>

                            </form>
                            <br>
                            <form action="/tasks/update/<%= task.id %>" method="post" style="display:inline;">
                                <label for="title">New Title:</label>
                                <input type="text" id="title" name="title" required>
                                <label for="dueDate">New Due Date:</label>
                                <input type="date" id="dueDate" name="dueDate" required>
                                <button type="submit">Update</button>
                            </form>
                </li>
                <% }); %>
        </ul>

    </div>
</body>

</html>